/* @media only screen and (max-width:600px) {

    /* universal style */
    /* body{
        margin: 0px 30px;
        width: ;
    }
.banner{
    height: 350px;
    width: 100%;
    object-fit: cover;
    /* width: 480px; */
/* }
.banner-titel-discription h1{
    color: #FFF
font-size: 1.4rem;
font-weight: 800;
}

.banner-titel-discription{

}
.banner-input{
    flex-direction: column;
    display: flex;
width: 287px;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
} */
    
}  */